*nohup.out
*.swp
*.o
*.exe
*.user
*.dll
*.a
*.la
*~
*.pref
stdout.txt
stderr.txt
build/*
stamps/*
Saves/*
generated/*
includes/*
generate
Makefile.me
*.xcodeproj
.DS_Store
*.plist
*.lproj
*.vcxproj*
*.opensdf
*.sdf
*.user
*.filter
*.sln
*.suo
*.manifest
*.manifest.res
*manifest.rc
*res.res
*.obj
*.tlog
*.lib
*.ipch
*.log
*.lastbuildstate
*.pdb
*.sublime-*
*.project
*.cproject
*.settings
config.log
*.sconsign.dblite
*.sconf_temp
*.gch
*.pyc
site_scons/site_tools/mfprogram/*.pyc
site_scons/site_tools/gch/*.pyc