**nohup.out
*.swp
*.o
*.user
*.a
*.la
*~
*.pref
stdout.txt
stderr.txt
stamps/*
Saves/*
includes/*
Makefile.me
*.xcodeproj
.DS_Store
*.plist
*.lproj
*.vcxproj*
*.opensdf
*.sdf
*.user
*.filter
*.sln
*.suo
*.manifest
*.manifest.res
*manifest.rc
*res.res
*.idb
*.obj
*.tlog
*.lib
*.ipch
*.log
*.lastbuildstate
*.unsuccessfulbuild
*.pdb
*.sublime-*
*.project
*.cproject
*.settings
*.cbp
*.layout
*.config
*.creator
*.files
*.includes
config.log
*.sconsign.dblite
*.sconf_temp
*.gch
*.pyc
site_scons/site_tools/mfprogram/*.pyc
site_scons/site_tools/gch/*.pyc
others*
