<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>ptsave</string>
				</array>
				<key>CFBundleURLName</key>
				<string>Powder Toy Save URL</string>
			</dict>
		</array>
		<key>CFBundleName</key>
		<string>@APPNAME@</string>
		<key>CFBundleIconFile</key>
		<string>icon_exe.icns</string>
		<key>NSHumanReadableCopyright</key>
		<string>@MANIFEST_COPYRIGHT@</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>stm</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>icon_cps.icns</string>
				<key>CFBundleTypeName</key>
				<string>Powder Toy Save</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
			</dict>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>cps</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>icon_cps.icns</string>
				<key>CFBundleTypeName</key>
				<string>Powder Toy Stamp</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
			</dict>
		</array>
		<key>CFBundleExecutable</key>
		<string>@APPEXE@</string>
		<key>CFBundleIdentifier</key>
		<string>@APPID@</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>@DISPLAY_VERSION_MAJOR@.@DISPLAY_VERSION_MINOR@</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>@DISPLAY_VERSION_MAJOR@.@DISPLAY_VERSION_MINOR@ (build @BUILD_NUM@)</string>
		<key>LSMinimumSystemVersion</key>
		<string>@MANIFEST_MACOS_MIN_VER@</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
	</dict>
</plist>
