[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Powder Toy
GenericName=Physics sandbox game
Comment=Simulates air pressure and velocity, heat, gravity interactions between different substances.
Exec=powder
Icon=powder
Type=Application
Categories=Game;Amusement;
